.btn {
    background: #44C020;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    padding: 8px 20px;
    cursor: pointer;
    border: 2px solid #44C020;
    border-radius: 6px;
    min-width: 80px;
    max-width: 250px;
    margin: 0px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    transition: cubic-bezier(0.215, 0.610, 0.355, 1) all 0.3s;
    display: flex;
    align-items: center;
}

.btn:hover {
    box-shadow: rgba(0, 0, 0, 0.29) 0px 10px 50px;
    transform: translateY(-2px);
}
.btn .icon{
    width: 16px;
    height: 16px;
    object-fit: contain;
    margin-right: 8px;
    filter: invert(100%);
}

.btn.btn-outline{
    background: #fff;
    color: #44C020;
}
.btn.btn-underline{
    border-width: 0px;
    background: transparent;
    box-shadow: none;
    text-decoration: underline;
    padding-left: 0;
    margin-left: 0;
}

.btn.btn-outline .icon{
    filter: invert(40%);
}
.btn.btn-secondary{
    border-color: #d7dcde;
    color: #656F74;
}
